.artp
  .artp-bigpic
    img(src=staticRoute + "article-bigpic-example-1.png", alt="picture")
  .artp-container
    .artp-h._mt-100._sm-mt-50
      h1.artp-title.text2._fz-48._sm-fz-32._lh-1d3._text-black._text-center New features available!
      .text._fz-18._sm-fz-16._text-darkgrey._text-center._mt-30 Want to see the location of your kids on the map? Enable location tracking to make it easier to keep track of their whereabouts.
      .artp-socbar._mt-30
        a.artp-socbar-btn._fb(href="#") 
          img.artp-socbar-btn-icon(src=staticRoute + "icon-fb-white.svg", alt="icon")
          span 3
        a.artp-socbar-btn._inst(href="#") 
          img.artp-socbar-btn-icon(src=staticRoute + "icon-inst-white.svg", alt="icon")
          span 3
        a.artp-socbar-btn._tw(href="#") 
          img.artp-socbar-btn-icon(src=staticRoute + "icon-twt-white.svg", alt="icon")
          span 3
    .artp-content._mt-60
      h2 Lorem ipsum dolor sit amet
      p Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat. Quisque fringilla faucibus tortor, vel pretium magna congue quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      .artp-video
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/u31qwQUeGuM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      p Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat. Quisque fringilla faucibus tortor, vel pretium magna congue quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent euismod, sapien ut lobortis rutrum, odio erat luctus nunc, sit amet bibendum tellus magna id nibh. Donec sollicitudin, magna nec efficitur porttitor, nisi dui luctus velit, id blandit nibh sem tempor est. Pellentesque pharetra congue vestibulum. Nunc dignissim porttitor dapibus. Curabitur sapien lectus, tempor ac ante ut, commodo imperdiet nisi. Donec semper eleifend auctor. Praesent diam felis, laoreet interdum porttitor nec, placerat et dolor. Donec quis massa sit amet nisl bibendum malesuada. Curabitur felis elit, vestibulum quis lectus in, bibendum bibendum mi. Praesent suscipit gravida eros non scelerisque.
      .artp-picrow
        .artp-picrow-pic
          img(src=staticRoute + "artp-smallpic-example-1.png", alt="picture")
        .artp-picrow-pic
          img(src=staticRoute + "artp-smallpic-example-2.png", alt="picture")
        .artp-picrow-pic
          img(src=staticRoute + "artp-smallpic-example-3.png", alt="picture")
        .artp-picrow-pic
          img(src=staticRoute + "artp-smallpic-example-4.png", alt="picture")
      p Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat. Quisque fringilla faucibus tortor, vel pretium magna congue quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      .artp-pic
        img(src=staticRoute + "article-pic-example-1.png", alt="picture")
      h2 Lorem ipsum dolor sit amet
      p Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat. Quisque fringilla faucibus tortor, vel pretium magna congue quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      ul
        li Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat. Quisque fringilla faucibus tortor, vel pretium magna congue quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        li Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. 
        li Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat.
        li Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. 
      .artp-pic
        img(src=staticRoute + "article-pic-example-2.png", alt="picture")
      p Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat. Quisque fringilla faucibus tortor, vel pretium magna congue quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      .artp-quote
        blockquote We are not a galaxy, but we are also part of the universe
        .artp-quote-sep
        .artp-quote-author HOMER SIMPSON
      p Nulla gravida hendrerit ipsum, fermentum gravida urna feugiat a. In vitae nunc nisi. Quisque accumsan ut nisl iaculis tempor. Phasellus quis sapien eu nunc tristique iaculis sed eget erat. Quisque fringilla faucibus tortor, vel pretium magna congue quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 