.af
  .af-grid
    .af-card.af-card-placeholder._small._1
      .af-card-placeholder-title Featured in the media
    .af-card._small._2
      .af-card-pic
        img(src=staticRoute + 'af-article-preview-1.png', alt="article preview")
      .af-card-info
        .af-card-date
          .af-card-date-icon
            img(src=staticRoute + 'icon-clock-white.svg', alt="clock")
          .af-card-date-label 3 вер 2022
        .af-card-title._mt-15 Дуже довгий заголовок, який ніяк не закінчується
    .af-card._small._3
      .af-card-pic
        img(src=staticRoute + 'af-article-preview-2.png', alt="article preview")
      .af-card-info
        .af-card-date
          .af-card-date-icon
            img(src=staticRoute + 'icon-clock-white.svg', alt="clock")
          .af-card-date-label 3 вер 2022
        .af-card-title._mt-15 Дуже довгий заголовок, який ніяк не закінчується
    .af-card._small._4
      .af-card-pic
        img(src=staticRoute + 'af-article-preview-3.png', alt="article preview")
      .af-card-info
        .af-card-date
          .af-card-date-icon
            img(src=staticRoute + 'icon-clock-white.svg', alt="clock")
          .af-card-date-label 3 вер 2022
        .af-card-title._mt-15 Дуже довгий заголовок, який ніяк не закінчується
    .af-card._big._5
      .af-card-pic
        img(src=staticRoute + 'af-article-preview-4.png', alt="article preview")
      .af-card-info
        .af-card-date
          .af-card-date-icon
            img(src=staticRoute + 'icon-clock-white.svg', alt="clock")
          .af-card-date-label 3 вер 2022
        .af-card-title._mt-15 Дуже довгий заголовок, який ніяк не закінчується

