-
  var featuresList = [
    {title: "App blocker feature", pagIcon: "icon-app-primary", tabPic: "feature-app-blocker-child-1", route: "features-appbrocker"},
    {title: "Statistics", pagIcon: "icon-chart-primary", tabPic: "feature-statistics-child-1",  route: "features-statistics"},
    {title: "Web control", pagIcon: "icon-web-primary", tabPic: "feature-web-control-child-1", route: "features-web"},
    {title: "YouTube Control", pagIcon: "icon-youtube-primary", tabPic: "feature-youtube-control-child-1", route: "features-youtube"},
    {title: "Eye Protection", pagIcon: "icon-zoom-primary", tabPic: "feature-eye-protection-child-1", route: "features-eye"},
    {title: "Photo & Contacts", pagIcon: "icon-picture-primary", tabPic: "feature-photo-contacts-child-1", route: "features-photocontact"},
    {title: "Instant Messengers", pagIcon: "icon-message-primary", tabPic: "feature-instant-messengers-child-1", route: "features-messenger"},
    {title: "SMS&Calls", pagIcon: "icon-call-primary", tabPic: "feature-sms-calls-child-1", route: "features-smscalls"},
    {title: "Sounds", pagIcon: "icon-sound-primary", tabPic: "feature-sounds-child-1", route: "features-sounds"},
    {title: "Location", pagIcon: "icon-location-primary", tabPic: "feature-location-child-1", route: "features-youtube", route: "features-location"},
    {title: "Settings", pagIcon: "icon-settings-primary-2", tabPic: "feature-settings-child-1", route: "features-settings"}
  ]

.ftsl
  .ftsl-grid.tabs.ftsl-tabs
    .tabs-list.ftsl-tabs-list
      input.tabs-value(type="hidden" value="0")
      .ftsl-tabs-slider
        .swiper-wrapper
          each item, index in featuresList
            .swiper-slide
              if index == 0
                .tabs-item.ftsl-tabs-item.active(data-value=index data-box-id=index)
                  img(src= staticRoute + item.pagIcon + '.svg', alt=item.title)
              else
                .tabs-item.ftsl-tabs-item(data-value=index data-box-id=index)
                  img(src= staticRoute + item.pagIcon + '.svg', alt=item.title)
        button.ftsl-tabs-slider-button-prev
          img(src=staticRoute + 'icon-arrow-left-primary.svg', alt="previous")
        button.ftsl-tabs-slider-button-next
          img(src=staticRoute + 'icon-arrow-right-primary.svg', alt="next")
    .tabs-node-wrapper
      each item, index in featuresList
        if index == 0
          .tabs-node.hidden.active(data-box-id=index)
            .ftsl-info-grid
              .ftsl-info
                .ftsl-title Features
                .ftsl-info-h._mt-40._sm-mt-30
                  h2.ftsl-heading= item.title
                  .tag._red Android only
                .text.ftsl-text._mt-20 Want to see the location of your kids on the map? Enable location tracking to make it easier to keep track of their whereabouts. Location tracking makes it easier to arrange pick-ups and provides peace of mind to parents everywhere.
                a.ftsl-link.text._text-primary._mt-30(href="./" + item.route + ".html")
                  span Learn more
                  img(src=staticRoute + 'icon-arrow-right-primary.svg', alt="arrow")
              .ftsl-info-pic
                img(src= staticRoute + item.tabPic + '.png', alt=item.title)
        else
          .tabs-node.hidden(data-box-id=index)
            .ftsl-info-grid
              .ftsl-info
                .ftsl-title Features
                .ftsl-info-h._mt-40._sm-mt-30
                  h2.ftsl-heading= item.title
                  .tag._red Android only
                .text.ftsl-text._mt-20 Want to see the location of your kids on the map? Enable location tracking to make it easier to keep track of their whereabouts. Location tracking makes it easier to arrange pick-ups and provides peace of mind to parents everywhere.
                a.ftsl-link.text._text-primary._mt-30(href="./" + item.route + ".html")
                  span Learn more
                  img(src=staticRoute + 'icon-arrow-right-primary.svg', alt="arrow")
              .ftsl-info-pic
                img(src= staticRoute + item.tabPic + '.png', alt=item.title)

