-
  var featuresList2 = [
    {icon: 'icon-phone-primary', platform: 'All platforms', platformClassModificator: '', title: 'Phone lock', description: 'very short description'},
    {icon: 'icon-newspaper-primary', platform: 'Android only', platformClassModificator: '_primary', title: 'Timeline', description: 'very short description'},
    {icon: 'icon-chart-primary', platform: 'All platforms', platformClassModificator: '', title: 'Application statistics', description: 'very short description'},
    {icon: 'icon-yt-primary', platform: 'Android only', platformClassModificator: '_primary', title: 'YouTube control', description: 'very short description'},
    {icon: 'icon-phone-primary', platform: 'All platforms', platformClassModificator: '', title: 'Phone lock', description: 'very short description'},
    {icon: 'icon-newspaper-primary', platform: 'Android only', platformClassModificator: '_primary', title: 'Timeline', description: 'very short description'},
    {icon: 'icon-chart-primary', platform: 'All platforms', platformClassModificator: '', title: 'Application statistics', description: 'very short description'},
    {icon: 'icon-yt-primary', platform: 'Android only', platformClassModificator: '_primary', title: 'YouTube control', description: 'very short description'},
  ]

.ftsl2
  .ftsl2-slider-wrapper
    .ftsl2-slider
      .ftsl2-slider-button-prev
        img(src=staticRoute + 'icon-arrow-left-primary.svg', alt="previous")
      .swiper-wrapper
        each item in  featuresList2
          .swiper-slide
            .ftsl2-item
              .ftsl2-item-pic
                img(src= staticRoute + item.icon + '.svg', alt=item.title)
              .ftsl2-item-sub._mt-20(class=item.platformClassModificator)=item.platform
              .ftsl2-item-title._mt-10=item.title
              .ftsl2-item-text.text._text-darkgrey._mt-30._sm-mt-10=item.description
      .ftsl2-slider-button-next
        img(src=staticRoute + 'icon-arrow-right-primary.svg', alt="next")
