section.oi
  .oi-inner
    .oi-info
      .bnr.oi-bnr._grid-1._bg-primary._px-30._py-30._sm-px-20
        h2.bnr-title._fz-32._text-white Install the app
        .bnr-desc.text._fz-20._text-white Reduce the risks your kids face online
        a.btn.btn-white-border.bnr-link._px-20(href="#")
          .btn-text._text-upper._text-center DOWNLOAD FROM THE SITE
      .oi-link-feed._mt-30
        .oi-link.qrlink
          .qrlink-qr
            img(src=staticRoute + 'qrcode-example.png', alt="qrcode")
          a.qrlink-link._mt-20(href="#")
            img(src=staticRoute + 'icon-apple-black-label.svg', alt="AppStore")
        .oi-link.qrlink
          .qrlink-qr
            img(src=staticRoute + 'qrcode-example.png', alt="qrcode")
          a.qrlink-link._mt-20(href="#")
            img(src=staticRoute + 'icon-ggle-play-label.svg', alt="GooglePlay")
        .oi-link.qrlink
          .qrlink-qr
            img(src=staticRoute + 'qrcode-example.png', alt="qrcode")
          a.qrlink-link._mt-20(href="#")
            img(src=staticRoute + 'icon-huawei-app-gallery-label.svg', alt="AppGallery")
    .oi-bg.bgstar