.w10
  .pph-box-feed
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-icon._align-center
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._align-center http://more.tv
        .text._fz-12._sm-fz-10._text-darkgrey._text-bold._align-center 12:23
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-icon._align-center
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._align-center http://ctclove.ru
        .text._fz-12._sm-fz-10._text-darkgrey._text-bold._align-center 12:23
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-icon._align-center
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._align-center http://wikipedia.org
        .text._fz-12._sm-fz-10._text-darkgrey._text-bold._align-center 12:23
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-icon._align-center
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._align-center http://more.tv
        .text._fz-12._sm-fz-10._text-darkgrey._text-bold._align-center 12:23
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-icon._align-center
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._align-center http://ctclove.ru
        .text._fz-12._sm-fz-10._text-darkgrey._text-bold._align-center 12:23
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-icon._align-center
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._align-center http://ctclove.ru
        .text._fz-12._sm-fz-10._text-darkgrey._text-bold._align-center 12:23