.w10
  .pph-box-feed
    .pph-box._py-10._px-15
      ._df._gap-x-10._align-center
        .pph-icon._align-center._flex-shrink-0
          img(src=staticRoute + "icon-kroha-lock-red.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Контент для взрослых
    .pph-box._py-10._px-15
      ._df._gap-x-10._align-center
        .pph-icon._align-center._flex-shrink-0
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Поддержка Incest / Abuse
    .pph-box._py-10._px-15
      ._df._gap-x-10._align-center
        .pph-icon._align-center._flex-shrink-0
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Сексуальность
    .pph-box._py-10._px-15
      ._df._gap-x-10._align-center
        .pph-icon._align-center._flex-shrink-0
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Нестандартный контент
    .pph-box._py-10._px-15
      ._df._gap-x-10._align-center
        .pph-icon._align-center._flex-shrink-0
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Видео и компьютерные Игры
    .pph-box._py-10._px-15
      ._df._gap-x-10._align-center
        .pph-icon._align-center._flex-shrink-0
          img(src=staticRoute + "icon-kroha-lock-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Знакомства
    .pph-box._py-10._px-15
      ._df._gap-x-10._align-center
        .pph-icon._align-center._flex-shrink-0
          img(src=staticRoute + "icon-kroha-lock-red.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Контент для взрослых