.w15
  .pph-box-feed
    .pph-box._py-10._px-15
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-question-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Включить защиту глаз
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
    .pph-box._py-10._px-15
      ._df._justify-bentween._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-darkgrey._flex-grow-1 Включить доступ к камере
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
    .pph-box._py-10._px-15
      ._df._justify-bentween._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-darkgrey._text-bold._flex-grow-1 Настройки предупреждения
        img.pph-icon._flex-shrink-0(src=staticRoute + "icon-arrow-right-grey.svg", alt="icon")
    .pph-box._py-10._px-15
      ._df._justify-bentween._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-darkgrey._text-bold._flex-grow-1 Белый список
        img.pph-icon._flex-shrink-0(src=staticRoute + "icon-arrow-right-grey.svg", alt="icon")
    .pph-box._py-10._px-15
      img._w-100p(src=staticRoute + "icon-range-steps.svg", alt="range")
      ._df._justify-between._align-center._gap-x-10._mt-10
        .text._fz-14._sm-fz-12._text-grey Близко
        .text._fz-14._sm-fz-12._text-primary Средне
        .text._fz-14._sm-fz-12._text-grey Близко