.w16
  .pph-box-feed
    .pph-box._py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-question-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Ночной режим
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
    .pph-box._py-10._px-15
      ._df._justify-between._align-center._gap-x-10
        div._flex-grow-1._df._flex-direction-column._align-center._justify-start
          img._w-32(src=staticRoute + "icon-moon-primary.svg", alt="icon")
          .text._fz-10._sm-fz-8._text-grey._text-center._mt-5 Луна
        div._flex-grow-1._df._flex-direction-column._align-center._justify-start
          img._w-32(src=staticRoute + "icon-candle.svg", alt="icon")
          .text._fz-10._sm-fz-8._text-grey._text-center._mt-5 Свеча
        div._flex-grow-1._df._flex-direction-column._align-center._justify-start
          img._w-32(src=staticRoute + "icon-sunrise.svg", alt="icon")
          .text._fz-10._sm-fz-8._text-grey._text-center._mt-5 Рассвет
        div._flex-grow-1._df._flex-direction-column._align-center._justify-start
          img._w-32(src=staticRoute + "icon-lamp-incandescent.svg", alt="icon")
          .text._fz-10._sm-fz-8._text-grey._text-center._mt-5 Лампа <br> накал.
        div._flex-grow-1._df._flex-direction-column._align-center._justify-start
          img._w-32(src=staticRoute + "icon-lamp-led.svg", alt="icon")
          .text._fz-10._sm-fz-8._text-grey._text-center._mt-5 Лампа <br> дневная
    .pph-box._py-20._sm-py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-shrink-50p Сила света (30%)
        div._flex-basis-50p._w-100p._flex-shrink-1._lh-0
          img._w-100p(src=staticRoute + "range-example-2.svg", alt="icon")
    .pph-box._py-20._sm-py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black Температура цвета
        .text._fz-16._sm-fz-14._text-primary._text-bold 3200k
    .pph-box._py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Установить авто таймер
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
      ._df._justify-between._align-center._gap-x-20._sm-gap-x-15._mt-20._sm-mt-15
        .pph-box._grey._px-20._sm-px-15._py-10._flex-grow-1
          .text._fz-14._text-darkgrey С: 20:30
        .pph-box._grey._inrow._px-20._sm-px-15._py-10._flex-grow-1
          .text._fz-14._text-darkgrey До: 06:30