.w17
  .pph-box-feed
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-hayday.png", alt="game")
        .pph-text._text-darkgrey._align-center HayDay
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-bow.png", alt="game")
        .pph-text._text-darkgrey._align-center Battle of Warships: Naval Blitz
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-supermario.png", alt="game")
        .pph-text._text-darkgrey._align-center Super Mario Run
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-mafiacity.png", alt="game")
        .pph-text._text-darkgrey._align-center Mafia City
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-angrybirds.png", alt="game")
        .pph-text._text-darkgrey._align-center Angry Birds Friends - Arcad...
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-badpiggies.png", alt="game")
        .pph-text._text-darkgrey._align-center Bad Piggies HD
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")