.w18
  .pph-box-feed
    .pph-box._py-20._sm-py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-moon-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Луна
        .text._fz-16._sm-fz-14._text-primary._text-bold 3200k
    .pph-box._py-20._sm-py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-candle-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Свеча
        .text._fz-16._sm-fz-14._text-primary._text-bold 1800 К
    .pph-box._py-20._sm-py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-sunrise-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Рассвет
        .text._fz-16._sm-fz-14._text-primary._text-bold 2000 К
    .pph-box._py-20._sm-py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-lamp-incandescent-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Лампа дневного света
        .text._fz-16._sm-fz-14._text-primary._text-bold 2700 К
    .pph-box._py-20._sm-py-15._px-15
      ._df._justify-between._align-center._gap-x-10
        .pph-icon._flex-shrink-0
          img(src=staticRoute + "icon-lamp-led-primary.svg", alt="icon")
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Лампа дневного света
        .text._fz-16._sm-fz-14._text-primary._text-bold 3400 К