.w2
  .pph-box-feed
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-angrybirds.png", alt="angry birds")
        .pph-text._text-darkgrey._align-center Angry Birds Friends - Arcade
        .pph-icon
          img(src=staticRoute + "icon-trash-red.svg", alt="trash")
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-badpiggies.png", alt="bad piggies")
        .pph-text._text-darkgrey._align-center Bad Piggies HD
        .pph-icon
          img(src=staticRoute + "icon-trash-red.svg", alt="trash")
    .pph-subtext._text-center._text-darkgrey._my-10 Добавить приложения в категорию:
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-hayday.png", alt="hayday")
        .pph-text._text-darkgrey._align-center HayDay
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")
    .pph-box._py-10._px-15
      .pph-grid._type-2
        .pph-preview-small
          img(src=staticRoute + "game-logo-mafiacity.png", alt="mafia city")
        .pph-text._text-darkgrey._align-center Mafia City
        .pph-icon
          img(src=staticRoute + "icon-hexagon-plus-primary.svg", alt="plus")