.w26
  .pph-subtext._text-darkgrey._text-center Ваш ребенок включил беззвучний режим и не слышит ваш звонок?
  .pph-box-feed._mt-5
    .pph-box._py-20._px-15._sm-py-10._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Режим “Не беспокоить”
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch-disabled.svg", alt="icon")
    .pph-box._py-20._px-15._sm-py-10._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Режим звонка
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch-disabled.svg", alt="icon")
    .pph-box._py-20._px-15._sm-py-10._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-shrink-50p Звонок (73%)
        div._flex-basis-50p._w-100p._flex-shrink-1._lh-0
          img._w-100p(src=staticRoute + "range-example-3.svg", alt="icon")
    .pph-box._py-20._px-15._sm-py-10._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-shrink-50p Будильник (60%)
        div._flex-basis-50p._w-100p._flex-shrink-1._lh-0
          img._w-100p(src=staticRoute + "range-example-4.svg", alt="icon")
    .pph-box._py-20._px-15._sm-py-10._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-shrink-50p Музика (53%)
        div._flex-basis-50p._w-100p._flex-shrink-1._lh-0
          img._w-100p(src=staticRoute + "range-example-5.svg", alt="icon")