.w1
  .pph-box-feed
      .pph-box._py-20._px-10
        .pph-chapter
          .pph-chapter-icon
            img(src=staticRoute + "icon-check-circle-primary.svg", alt="check")
          .pph-chapter-label.pph-text
            span._bold Всегда разблокированные 
            span._text-grey (49)
          .pph-chapter-icon
            img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")
      .pph-box._py-20._px-10
        .pph-chapter
          .pph-chapter-icon
            img(src=staticRoute + "icon-close-circle.svg", alt="close")
          .pph-chapter-label.pph-text
            span._bold Всегда заблокированные 
            span._text-grey (0)
          .pph-chapter-icon
            img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")
      .pph-box._py-20._px-10
        .pph-chapter
          .pph-chapter-icon
            img(src=staticRoute + "icon-game-controller.svg", alt="clock")
          .pph-chapter-label.pph-text
            span._bold Игры 
            span._text-grey (9)
          .pph-chapter-icon
            img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")
      .pph-box._py-20._px-10
        .pph-chapter
          .pph-chapter-icon
            img(src=staticRoute + "icon-webnet-primary.svg", alt="check")
          .pph-chapter-label.pph-text
            span._bold Социальные сети 
            span._text-grey (19)
          .pph-chapter-icon
            img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")
      .pph-box._py-20._px-10
        .pph-chapter
          .pph-chapter-icon
            img(src=staticRoute + "icon-chrome-primary.svg", alt="check")
          .pph-chapter-label.pph-text
            span._bold Браузеры 
            span._text-grey (1)
          .pph-chapter-icon
            img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")