.w30
  .pph-box-feed
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Включить PIN-код для блокировки приложения “КРОХА”
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Заблокировать доступ к меню “Недавно запущенные программы”
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch-disabled.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Заблокировать доступ к настройкам телефона
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch-disabled.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Заблокировать доступ для редактирования “Панели быстрых настроек” в меню “Панель уведомлений”
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch-disabled.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Блокировать режим разделения экранов
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")