.w31
  .pph-box-feed
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Системные уведомления
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Уведомления о новых приложениях
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Уведомления об изменении разрешений
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch-disabled.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Уведомления о выполненных действиях
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch.svg", alt="icon")
    .pph-box._py-10._px-15._sm-px-10
      ._df._justify-between._align-center._gap-x-10
        .text._fz-16._sm-fz-14._text-black._flex-grow-1 Уведомления о подписке
        img._flex-shrink-0._w-50._sm-w-40(src=staticRoute + "icon-switch-disabled.svg", alt="icon")