.w6
  .pph-box-feed
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-ggle.svg", alt="icon")
        .pph-text._text-darkgrey._align-center Google
        div._text-right
          .text._fz-12._sm-fz-10._text-darkgrey._text-bold 9:40
          .text._fz-14._sm-fz-10._text-darkgrey 2 часа
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-tt.svg", alt="icon")
        .pph-text._text-darkgrey._align-center TikTok - Make Your Day
        div._text-right
          .text._fz-12._sm-fz-10._text-darkgrey._text-bold 9:40
          .text._fz-14._sm-fz-10._text-darkgrey 2 часа
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-webnet-primary-2.svg", alt="icon")
        .pph-text._text-darkgrey._align-center http://ctc.com
        div._text-right
          .text._fz-12._sm-fz-10._text-darkgrey._text-bold 9:40
          .text._fz-14._sm-fz-10._text-darkgrey 2 часа
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-tlg.svg", alt="icon")
        .pph-text._text-darkgrey._align-center Telegram
        div._text-right
          .text._fz-12._sm-fz-10._text-darkgrey._text-bold 9:40
          .text._fz-14._sm-fz-10._text-darkgrey 2 часа
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "game-logo-hayday.png", alt="icon")
        .pph-text._text-darkgrey._align-center HayDay
        div._text-right
          .text._fz-12._sm-fz-10._text-darkgrey._text-bold 9:40
          .text._fz-14._sm-fz-10._text-darkgrey 2 часа
