.w7
  .pph-box-feed
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-tlg.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey Telegram
          .text._fz-16._sm-fz-12._text-black._text-bold 3 часа 14 мин 15 сек
        .pph-icon._transform-rotate-m90
          img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")
      .wkch._mt-10
        .wkch-chart
          .wkch-chart-col(style="height: 55%")
          .wkch-chart-col(style="height: 30%")
          .wkch-chart-col(style="height: 90%")
          .wkch-chart-col(style="height: 35%")
          .wkch-chart-col(style="height: 25%")
          .wkch-chart-col(style="height: 15%")
          .wkch-chart-col(style="height: 15%")
        table
          tbody
            tr
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell-label.text._fz-12._sm-fz-10._text-grey 4 часа
            tr
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell-label.text._fz-12._sm-fz-10._text-grey 3 часа
            tr
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell-label.text._fz-12._sm-fz-10._text-grey 2 часа
            tr
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell-label.text._fz-12._sm-fz-10._text-grey 1 час
            tr
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.wkch-cell
              td.text.wkch-cell-label._fz-12._sm-fz-10._text-grey 30 мин
          tfoot
            tr
              th.text._fz-12._sm-fz-10._text-grey Пн
              th.text._fz-12._sm-fz-10._text-grey Вт
              th.text._fz-12._sm-fz-10._text-grey Ср
              th.text._fz-12._sm-fz-10._text-grey Чт
              th.text._fz-12._sm-fz-10._text-grey Пт
              th.text._fz-12._sm-fz-10._text-grey Сб
              th.text._fz-12._sm-fz-10._text-grey Нд
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-tt.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey TikTok - Make Your Day
          .text._fz-16._sm-fz-12._text-black._text-bold 1 година 14 мин 15 сек
        .pph-icon._transform-rotate-90
          img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-youtube-circle-2.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey YouTube
          .text._fz-16._sm-fz-12._text-black._text-bold 1 година 14 мин 15 сек
        .pph-icon._transform-rotate-90
          img(src=staticRoute + "icon-arrow-right-grey.svg", alt="go")
