.w2
  .pph-box-feed
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-tlg.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey Telegram
          .text._fz-16._sm-fz-12._text-black._text-bold 3 часа 14 мин 15 сек
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-tt.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey TikTok - Make Your Day
          .text._fz-16._sm-fz-12._text-black._text-bold 1 година 14 мин 15 сек
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-youtube-circle-2.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey YouTube
          .text._fz-16._sm-fz-12._text-black._text-bold 1 година 14 мин 15 сек
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-wthspp.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey WhatsApp Messenger
          .text._fz-16._sm-fz-12._text-black._text-bold 54 мин 15 сек
    .pph-box._py-10._px-15
      .pph-grid._type-3
        .pph-preview-small._align-center
          img(src=staticRoute + "icon-ggle.svg", alt="icon")
        div._align-center
          .text._fz-12._sm-fz-10._text-darkgrey Google
          .text._fz-16._sm-fz-12._text-black._text-bold 35 мин 40 сек
