extends ./layouts/_common.pug

block variables
  -
    var staticRoute = './assets/static/'
    var pageTitle = 'Main'
    var firstScreen = true
    var firstScreenClass = "mp-fs"
    var footerTop = true
    var footerBottom = true
    var footerBg = true

block prepend scripts
  script(src="./js/swiper-bundle.min.js")
  script(defer src="./js/accordion.js")
  script(defer src="./js/close.js")
  script(defer src="./js/sliders.js")
  script(defer src="./js/tabs.js")
  script(defer src="./js/temp_form.js")

block prepend styles
  link(rel="stylesheet", href="./css/swiper-bundle.min.css")

block header
  include ./components/header/_header.pug
block firstScreen
  .fs
    .fs-space
      .fs-space-sun
        img(src="./assets/static/sun.svg", alt="sun")

      .fs-space-orbital._9
        <svg width="3300" height="3300" viewBox="0 0 3300 3300" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle opacity="0.1" cx="1650" cy="1650" r="1649.5" stroke="#053D75"/>
        </svg>

      .fs-space-orbital._8
        <svg width="3000" height="3000" viewBox="0 0 3000 3000" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g>
            <circle opacity="0.1" cx="1500" cy="1500" r="1499.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-star(src=staticRoute + "icon-comet-star.svg", alt="icon")

      .fs-space-orbital._7
        <svg width="2700" height="2700" viewBox="0 0 2700 2700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g >
            <circle opacity="0.1" cx="1350" cy="1350" r="1349.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-star(src=staticRoute + "icon-comet-star.svg", alt="icon")

      .fs-space-orbital._6
        <svg width="2400" height="2400" viewBox="0 0 2400 2400" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g >
            <circle opacity="0.1" cx="1200" cy="1200" r="1199.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-star(src=staticRoute + "icon-comet-star.svg", alt="icon")


      .fs-space-orbital._5
        <svg width="2150" height="2150" viewBox="0 0 2150 2150" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(25, 22)">
            <circle opacity="0.2" cx="1050" cy="1050" r="1049.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-astr(src=staticRoute + "icon-comet-astr.svg", alt="icon")
          img.fs-space-orbital-star(src=staticRoute + "icon-comet-star.svg", alt="icon")

      .fs-space-orbital._4
        <svg width="1850" height="1850" viewBox="0 0 1850 1850" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(25, 22)">
            <circle opacity="0.3" cx="900" cy="900" r="899.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-vbr(src=staticRoute + "icon-comet-vbr.svg", alt="icon")
          img.fs-space-orbital-star._1(src=staticRoute + "icon-comet-star.svg", alt="icon")
          img.fs-space-orbital-tlg(src=staticRoute + "icon-comet-tlg.svg", alt="icon")
          img.fs-space-orbital-star._2(src=staticRoute + "icon-comet-star.svg", alt="icon")
          img.fs-space-orbital-satellite(src=staticRoute + "icon-comet-satellite.svg", alt="icon")


      .fs-space-orbital._3
        <svg width="1600" height="1600" viewBox="0 0 1600 1600" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(50, 42)">
            <circle opacity="0.4" cx="750" cy="750" r="749.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-yt(src=staticRoute + "icon-comet-yt.svg", alt="icon")
          img.fs-space-orbital-whtsp(src=staticRoute + "icon-comet-whtsp.svg", alt="icon")
          img.fs-space-orbital-star(src=staticRoute + "icon-comet-star.svg", alt="icon")

      .fs-space-orbital._2
        <svg width="1300" height="1300" viewBox="0 0 1300 1300" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(50, 42)">
            <circle opacity="0.6" cx="600" cy="600" r="599.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-inst(src=staticRoute + "icon-comet-instagram.svg", alt="icon")
          img.fs-space-orbital-earth(src=staticRoute + "icon-comet-earth.svg", alt="icon")
          img.fs-space-orbital-star(src=staticRoute + "icon-comet-star.svg", alt="icon")

      .fs-space-orbital._1
        <svg width="950" height="950" viewBox="0 0 950 950" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(25, 22) rotate(120, 450, 450)">
            <circle opacity="0.8" cx="450" cy="450" r="449.5" stroke="#053D75"/>
          </g>
        </svg>
        .fs-space-orbital-inner
          img.fs-space-orbital-discord(src=staticRoute + "icon-comet-discord.svg", alt="icon")
          img.fs-space-orbital-tiktok(src=staticRoute + "icon-comet-tiktok.svg", alt="icon")

    .fs-inner
      h1.fs-title Maximum <br> <em>care</em> about your <br> a child
      .fs-rowlist._mt-30._sm-mt-20
        .fs-rowlist-item.fs-text Protection
        .fs-rowlist-sep •
        .fs-rowlist-item.fs-text Security
        .fs-rowlist-sep •
        .fs-rowlist-item.fs-text Control
      .fs-btnbar._mt-30._sm-mt-20
        button.btn.btn-primary._rounded._text-upper.fs-btn(type="button") Renew license
        button.btn.btn-play(type="button")
          .btn-play-circle._1
          .btn-play-circle._2
          .btn-play-circle._3
          .btn-icon
            img(src="./assets/static/icon-play-primary.svg", alt="play")
      .fs-socbar.fs__socbar
        a.btn.fs-socbar-btn(href="#") 
          .btn-icon
            picture
              source(media="(min-width: 520px)", srcset="./assets/static/icon-ggle-play-label.svg")
              source(media="(min-width: 0px)", srcset="./assets/static/icon-ggle-play.svg")
              img(src="./assets/static/icon-ggle-play-label.svg", alt="Google Play")
        a.btn.fs-socbar-btn(href="#") 
          .btn-icon
            picture
              source(media="(min-width: 520px)", srcset="./assets/static/icon-apple-black-label.svg")
              source(media="(min-width: 0px)", srcset="./assets/static/icon-apple-black.svg")
              img(src="./assets/static/icon-apple-black-label.svg", alt="Google Play")
        a.btn.fs-socbar-btn(href="#") 
          .btn-icon
            picture
              source(media="(min-width: 520px)", srcset="./assets/static/icon-huawei-app-gallery-label.svg")
              source(media="(min-width: 0px)", srcset="./assets/static/icon-huawei-app-gallery.svg")
              img(src="./assets/static/icon-huawei-app-gallery-label.svg", alt="Google Play")

block content
  main.main
    include ./components/_total.pug

    section.ttls
      h2.ttls-title We are not a galaxy, but we are also part of the universe

    include ./components/_features-slider.pug

    include ./components/_features-slider2.pug

    include ./components/_articles-feed.pug

    include ./components/_form-registration.pug

    include ./components/_install.pug

block footer
  include ./components/footer/_footer.pug