extends ./layouts/_common.pug

block variables
  -
    var staticRoute = './assets/static/'
    var pageModificator = "fp"
    var pageTitle = 'Advanced'
    var firstScreen = true
    var firstScreenClass = "mp-fs fp-fs"
    var footerTop = true
    var footerBottom = true
    var footerBg = true

block prepend scripts
  script(defer src="./js/accordion.js")

block prepend styles
  link(rel="stylesheet", href="./css/swiper-bundle.min.css")

block header
  include ./components/header/_header.pug
block firstScreen
  .fs
    .fs-space
      .fs-space-orbitals
        img(src=staticRoute + "orbitals.svg", alt="orbitals")

    .fs-grid
      .fs-grid-info
        h1.fs-title Kroha Advanced
        .text._text-darkgrey._sm-fz-14._mt-30._md-text-center Pair your child’s device on your computer with Kroha Advanced and your child couldn’t delete apps or get around limitations.
        .fs-btnbar._mt-30._sm-mt-20
          button.btn.btn-white._gap-x-20.fs-btn(type="button")
            .btn-icon
              img(src=staticRoute + "icon-apple-black.svg", alt="icon")
            .btn-text._text-darkgrey._sm-dn Download for Mac
          button.btn.btn-white._gap-x-20.fs-btn(type="button")
            .btn-icon
              img(src=staticRoute + "icon-windows.svg", alt="icon")
            .btn-text._text-darkgrey._sm-dn Download for Mac
          
      .fs-grid-pic
        img(src= staticRoute + 'kroha-advanced-child-1.png', alt=pageTitle) 
        // img(src= staticRoute + 'kroha-advanced-child-2.png', alt=pageTitle)
        // img(src= staticRoute + 'kroha-advanced-child-3.png', alt=pageTitle)

block content
  main.main
    ._py-200._sm-py-100._px-30._sm-px-20
      .container
        include ./components/_support-questions2.pug

        .winf._long._mt-200._sm-mt-100
          .winf-widget
            .winf-video
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/u31qwQUeGuM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          .winf-info._md-mt-40
            .winf-title.text2._text-bold._text-black._fz-40._sm-fz-32 Filter bad web sites
            .winf-desc.text._sm-fz-16._text-darkgrey._mt-30._sm-mt-20 Kroha powerful content blocking features ensure that your kids are protected from over 20 million inappropriate URLs and can see only the search results allowed by Google SafeSearch and Youtube restricted mode. You can also manually add sites to be blocked. 

      ._mt-200._sm-mt-100
        include ./components/_install2.pug

block footer
  include ./components/footer/_footer.pug